.dialog-container{
    .MuiDialogTitle-root{
        &.dialog-title{
            display: flex;
            justify-content: space-between;
            padding: 0;
            align-items: center;
        }
    }
    .MuiDialogContent-root{
        padding: .5rem;
    }
    .MuiDialogActions-root{
        justify-content: flex-end;
    }
}