.dialog-container{
    .MuiDialog-paper{
        max-height: 90vh;
        min-height: 30rem;
        min-width: 30rem;
        padding: 1rem;
    }
    .MuiDialogTitle-root{
        &.dialog-title{
            display: flex;
            justify-content: space-between;
            padding: 0;
            align-items: center;
        }
    }
    .MuiDialogContent-root{
        padding: .5rem;
    }
    .MuiDialogActions-root{
        justify-content: flex-end;
    }
}