.page-container{
    display: flex;
    flex-direction: column;
    .page-row{
        padding-bottom: 1rem;
    }
    .heading-text{
        text-align: left;
        padding-right: 1rem;
        line-height: 2;
    }
}