.custom-select{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 7.5rem;
    label{
        margin: .5rem 0 0.2rem 0;
    }
    fieldset{
        border: none;
    }
    .MuiSelect-select{
        padding: 2px;
        text-align: left;
    }
    .MuiOutlinedInput-root{
        border: 1px solid #ccc;
    }
}