.header{
    text-align: left;
    border: 1px solid lightgray;
    padding: .5rem 1rem;
    border-radius: 4px 4px 0 0;
    background-color: #eee;
}
.content{
    padding: .5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 0 0 4px 4px;
    border-top: none;
}