.group-filter .MuiButtonBase-root{
    &.MuiToggleButtonGroup-grouped{
        border: 1px solid gray;
        border-radius: 4px;
        &:not(:last-of-type){
            border: 1px solid gray;
            border-radius: 4px;
        }
        &:not(:first-of-type){
            border: 1px solid gray;
            border-radius: 4px;
        }
    }
    &.MuiToggleButton-root{
        padding: 5px 10px;
        margin-right: .5rem;
        &.Mui-selected{
            color: #ffffff,;
            background-color: #1875d1;
            &:hover{
                color: #ffffff,;
                background-color: #1875d1;
            }
        }
    }
}