.notification-sidebar-items {
  p {
    margin: 1px;
  }

  .notification-item {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid lightblue;

    .notification-drawer-category {
      display: flex;
      justify-content: space-between;
      font-size: small;

      .notification-close-icon {
        cursor: pointer;
      }
    }

    .notification-times-ago {
      color: #555;
      font-size: small;
    }
  }
}
